<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="PlayerStartHealth" value="100"/>
        <add key="PlayerStartMaxHealth" value="100"/>
        <add key="PlayerStartStrength" value="1"/>
        <add key="PlayerStartMoney" value="2"/>
        <add key="FightWinBaseRate" value="40"/>
        <add key="FightWinStrengthRate" value="5"/>
        <add key="FightWinMaxRate" value="70"/>
        <add key="LostHealthWinFight" value="10"/>
        <add key="LostHealthLoseFight" value="40"/>
        <add key="FightWinPrize" value="5"/>
        <add key="WeaponPrice" value="10"/>
        <add key="WeaponMinBonus" value="1"/>
        <add key="WeaponMaxBonus" value="2"/>
        <add key="ClothesPrice" value="10"/>
        <add key="ClothesMinBonus" value="1"/>
        <add key="ClothesMaxBonus" value="2"/>
        <add key="HealingRate" value="10"/>
        <add key="HealingPrice" value="3"/>
    </appSettings>
</configuration>